@font-face {
    font-family: raleway;
    src: url(Raleway-Bold.ttf);
	font-weight: bold;
}

@font-face {
    font-family: raleway;
    src: url(Raleway-Medium.ttf);
}

@font-face {
    font-family: dosis;
    src: url(Dosis-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: dosis;
    src: url(Dosis-Medium.ttf);
}

@font-face {
    font-family: slabo;
    src: url(Slabo27px-Regular.ttf);
}

@font-face {
    font-family: titillium;
    src: url(TitilliumWeb-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: titillium;
    src: url(TitilliumWeb-SemiBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: titillium;
    src: url(TitilliumWeb-Bold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: titillium;
    src: url(TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: giorgio;
    src: url(Giorgio.ttf);
}

body {
    background: white;
    -webkit-font-smoothing: antialiased;
    font-family: "Titillium";
    font-weight: normal;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    padding: 0;
    margin: 0;
}

html.hidescrollbar, html.hidescrollbar body
{
    overflow: hidden;
    height: 100vh;
}

.entry-title
{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

h1, h2, h3
{
    font-family:"Titillium","Trebuchet MS",Helvetica,Arial;
}

h2, h3
{
    margin-bottom: 10px;
}

h4.project-sub
{
    margin: 0;
    font-size: 18pt;
    color: #aaa;
}

hr
{
    border: 0;
    border-bottom: 1px solid;
    border-color: #08b;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    margin: 0;
    height: 57px;
}

#masthead
{   
    display: flex;
    position: absolute;
    left: 20px;
    right: 20px;
    justify-content: space-around;
    align-items: center;
    background: none;
    border-bottom: 1px solid #000;
    padding: 0 10px;
}

#masthead a {
    color: #fff;
}

#access
{
    background-color: transparent;
    display: block;
}

#access ul
{
    list-style: none;
}

#access ul > li {
    border-bottom: none;
    display: inline-block;
    margin-left: 50px;
    margin-right: 10px;
}

.current_page_item a, #masthead .current_page_parent > a
{
    font-weight: 900;
}

.current_page_item a:hover, #masthead .current_page_parent > a:hover
{
    text-decoration: none;
}

#title {
    flex: 1;
}

#title h1 {
    font-family: "Giorgio";
    color: white;
    font-size: 16pt;
}

#title a:hover {
    text-decoration: none;
}

#main {
    z-index: 0;
    text-align: center;
}

.home_box {
    top: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16pt;
    text-align: center;
    height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.55)), url(img/home_bg.jpg), rgba(0, 0, 0, 1.0);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact_box
{
    top: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16pt;
    text-align: center;
    height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(img/contact_bg.jpg), rgba(0, 0, 0, 1.0);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home_box h1, .contact_box h1
{
    font-size: 30pt;
    margin: 20px 0;
    font-weight: normal;
}

.home_box p, .contact_box p
{
    margin: 10px 0;
    font-weight: 300;
    line-height: 2.0em;
}

.projects_container p
{
    margin-bottom: 45px;
    font-weight: 300;
    line-height: 2.0em;
}

.home_box i, .contact_box i
{
    color: white;
    display: inline-block;
    font-size: 20pt;
    opacity: 1.0;
    margin-top: 20px;
}

.home_box button
{
    background: none;
    color: #6df;
    border: 2px solid #6df;
    border-radius: 999px;
    font-weight: 700;
    font-size: 13pt;
    padding: 6px 15px;
    cursor: pointer;
    margin: 5px 0;
    font-family:"Titillium","Trebuchet MS",Helvetica,Arial;
}

.contact_box i
{
    font-size: 30pt;
}

.home_box i:hover, .contact_box i:hover
{
    color: #6df;
}

.home_container, .project_entry_container
{
    width: 850px;
    margin: 0 auto;
}

.page_container
{
    background: white;
    margin: 0 auto;
}

.projects_container
{
    background: #eee;
    position: relative;
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 16pt;
    text-align: center;
}

.projects_container h1
{
    font-size: 30pt;
    margin: 30px 0;
    font-weight: normal;
}

#project-page
{
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    top: 100vh;
    z-index: 100;
    overflow-y: auto;
}

#project-page.hidescrollbar
{
    overflow-y: hidden;
}

#project-page #loading
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 10px solid #fff; /* Light grey */
    border-top: 10px solid #ccc; /* Blue */
    border-right: 10px solid #ccc; /* Blue */
    border-left: 10px solid #ccc; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#project-page #page-content
{
    width: 850px;
    position: absolute;
    opacity: 0;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 57px;
    z-index: -1;
    padding: 20px;
}

#project-page i
{
    position: absolute;
    font-size: 30pt;
    cursor: pointer;
    right: 25px;
    top: 77px;
    margin: 0;
}

#project-page i.fixed
{
    position: fixed;
    top: 77px;
}

.projects_container a
{
    color: #08c;
}

a
{
    color: #6df;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.icon
{
    display: inline-block;
    font-size: 4em;
    margin: 0 10px;
    opacity: 0.8;
    color: #000;
}

.icon:hover
{
    opacity: 1.0;
    color: #08c;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 5px;
}

.wp-caption
{
    display: inline-block;
}

img.alignleft
{
    float: left;
    margin: 10px;
}

img.alignright
{
    float: right;
    margin: 10px;
}

img.alignnone
{
    margin: 10px;
}

#content, #page-content
{
    font-size: 12pt;
    line-height: 28px;
}

#footer
{
    margin-top: 30px;
    padding-bottom: 10px;
}

#footer #site-info
{
    width: 820px;
    margin: auto;
    padding: 10px;
    text-align: left;
}

#footer #social
{
    float: right;
}

#footer #social .icon
{
    display: inline-block;
    font-size: 2em;
    margin-left: 3px;
    margin-right: 0;
    opacity: 0.5;
    color: #000;
}

#footer #social .icon:hover
{
    opacity: 1.0;
}

:root {
    --entry-margin: 2px;
    --entry-size: calc(20% - var(--entry-margin) * 2);
    --entry-size-double: calc(40% - var(--entry-margin) * 2);
}

.grid
{
    margin: 0 calc(var(--entry-margin) * 2);
}

.project_entry
{
    display: inline-block;
    vertical-align: top;
    width: var(--entry-size);
    height: 0;
    padding-bottom: var(--entry-size);
    margin: var(--entry-margin);
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.grid_width2
{
    width: var(--entry-size-double);
}

.grid_height2
{
    height: 0;
    padding-bottom: var(--entry-size-double);
}

.project_entry .project_thumb
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.project_entry:hover .caption
{
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transition-timing-function: cubic-bezier(.36,.23,.69,1.56);
}

.project_entry:hover .caption:hover
{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition-timing-function: ease;
}

.project_entry.grid_height2:hover .caption:hover
{
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition-timing-function: ease;
}

.project_entry .caption
{
    display: block;
    text-align: left;
    position: absolute;
    word-wrap: normal;
    width: calc(100% - 19px);
    height: calc(100% - 29px);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    color: black;
    font-size: 1.05vw;
    padding: 15px 10px;
    line-height: 22px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s;
    overflow: hidden;
}

.project_entry .caption span
{
    display: table-cell;
    vertical-align: middle;
    width: var(--entry-size);
    word-wrap: normal;
    line-height: 22px;
}

.project_entry .caption h4
{
    text-align: center;
    white-space: nowrap;
    width: calc(100% + 20px);
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.4vw;
    position : relative;
    left: 50%;
    top: 10px;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.project_entry .caption h4.smaller
{
    font-size: 1.28vw;
}

.project_entry .caption ul
{
    padding-left: 20px;
}

.project_entry a p
{
    margin: 0;
}

.wp-caption
{
    vertical-align: top;
}
